<body>
    <div>
        <div>
            <div class="container">
                <div class="row mb-3">
                    <label for="name"> Name:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" style="text-align:center;" [(ngModel)]="user.name">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="number"> Email: </label>
                    <div class="col-sm-4">
                        <input type="email" id="email" pattern=".+@gmail\.com" class="form-control"
                            [(ngModel)]="user.email" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="block">Phnenumber: </label>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" [(ngModel)]="user.phonenumber">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="block">Password: </label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" [(ngModel)]="user.password">
                    </div>
                </div>
                <button (click)='register()' class="btn btn-success">Register</button>
            </div>
        </div>
    </div>
</body>